.App {
  text-align: center;
}
h1 {
  color: brown;
  text-align: center;
  font-weight: bold;
}



.App-header {
  background-color: #299f31;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.city1 {
  color: blue;
}
.city3 {
  color: rgb(43, 226, 122);
}

.City22 {
  color: darkorange;
}


